* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
}

nav .left-part {
  width: 50%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

nav .right-part {
  width: 50%;
  text-align: center;
}

nav .right-part ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav .right-part li {
  padding: 0 30px;
}

nav .right-part a {
  text-decoration: none;
  color: gray;
}

nav .right-part a:hover {
  color: #64a19d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/*---------------------------------------------------------------------*/
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgb(0, 0, 0)),
    url(./image/bg-masthead.jpg);
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 104px;
  letter-spacing: 15px;
  background: linear-gradient(rgb(236, 234, 234), rgba(255, 255, 255, 0.123));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

#hero p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 50px;
}

#hero a {
  text-decoration: none;
  padding: 20px 32px;
  color: white;
  background-color: #64a19d;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------------------*/
#about {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom,
      #000 0%,
      rgba(0, 0, 0, 0.9) 75%,
      rgba(0, 0, 0, 0.8) 100%);
  padding-top: 100px;
}

#about .about-body {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 80%;
}

#about .text {
  width: 50%;
  margin: 40px 0;
}

#about h2 {
  color: white;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
}

#about p {
  color: white;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.5);
  line-height: 2;
}

#about a {
  color: #64a19d;
}

/*-----------------------------------------------------------------------------------*/

#projects .projects-body {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

#projects .top-part {
  display: flex;
  padding: 50px 0;
}

#projects .top-part h3 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 25px;
  color: rgb(68, 67, 67);
}

#projects .top-part p {
  color: rgba(0, 0, 0, 0.5);
}

#projects .top-part .top-part-text {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

#projects .top-part .img {
  width: 60%;
  position: relative;
}

#projects .top-part .img::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 150px;
  background-color: #64a19d;
  top: 180px;
  right: -8px;

}

#projects .top-part .img img {
  max-width: 100%;
}


#projects .bottom-part {
  padding: 40px 0;
}

#projects .bottom-part-item {
  display: flex;
}
#projects .bottom-part-item:nth-child(even){
  flex-direction: row-reverse;
}
#projects .bottom-part-item .img {
  width: 50%;
}

#projects .bottom-part-item .img img {
  max-width: 100%;
  height: 100%;
}

#projects .bottom-part-item .bottom-part-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 60px;
  background-color: black;
}
#projects .bottom-part-item .bottom-part-text p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
#projects .bottom-part-item .bottom-part-text h3{
color: white;
font-weight: 400;
font-size: 22px;
margin-bottom: 20px;
}